*{
  margin: 0;
  padding: 0;
  
}
body {
  background-position: center;  
  background-size: cover;
  height: 100%;
}
.horas{
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h1{
  font-size: 100px;
  color: white;
}
p{
  font-size: 25px;
}


.notas-emoji{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.tabela{
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
}
.testes{
  width: 100%;
  height: 500px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeria{
  width: 100%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.img-grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 10px;
  
  gap: 4;
}

.img-galeria{
  width: 200px;
  height: 150px;
  border-radius: 0;
}