table{
    width:100%;
    text-align: center;
}
td{
    padding: 10px;  
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-right: 10px;
}
.avatar-name{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.email{
    text-align: start;
}
